<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Users</title>
</head>
<body>
<h1>Create User</h1>

<form action="/createUser" th:object="${user}" method="post">
        First name: <input type="text"/>
        Last name:  <input type="text">
        Email:      <input type="email">
        Username:   <input type="text">
        Password:   <input type="password">
</form>
<br/>
<hr><a href="/mainPage">Back to login page</a></h2>
  <!--  <tr th:each="user : ${users}">
        <th th:text="${user.firstName}"></th>
        <th th:text="${user.lastName}"></th>
        <th th:text="${user.email}"></th>
        <th th:text="${user.username}"></th>
        <th th:text="${user.password}"></th>
    </tr> -->

</body>
</html>